html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: rgb(30,30,30);
    overflow: hidden;
}

.main{
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item {
    height: 100%;
    flex-shrink: 0;
}

#sidebar {
    background-color: rgb(54, 54, 54);
    width: 20%;
    display: none;
    padding: 15px;
    color: whitesmoke;
}

#sidebar > div {
    display: none;

}

#icon-bar {
    background-color: rgb(70, 70, 70);
    width: 50px;
    padding: 15px 10px;
}

#icon-bar img {
    padding-bottom: 15px;
}

#content{
    flex: 1;
}

.header {
    height: 30px;
    border-bottom: 2px solid rgb(54, 54, 54);
    background-color: rgb(30,30,30);
    color: aqua;
    text-align: center;
}

#editor {
    height: calc(100% - 30px);
}
