html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
}

.main{
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item {
    height: 100%;
    flex-shrink: 0;
}

#sidebar{
    background-color: rgb(54, 54, 54);
    width: 20%;
}

#icon-bar {
    background-color: rgb(70, 70, 70);
    width: 50px;
    padding: 10px;
}

#icon-bar img {
    padding-bottom: 10px;
}

#content{
    flex: 1;
}

#header {
    height: 30px;
    border-bottom-color: #454545;
    border-bottom: 1px;
    margin-bottom: 5px;
}

#editor {
    height: calc(100% - 30px);
}
