.main{
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
}
html, body {
    height: 100%;
}

.item {
    height: 100%;
    flex-shrink: 0;
}

#sidebar{
    background-color: aqua;
    width: 500px;
}

#icon-bar {
    background-color: red;
    width: 100px;
}

#content{
}
